#Form_ContactForm {
	text-align: center;
}
#Form_ContactForm fieldset {
	border: none;
}
#Form_ContactForm div.field {
	padding: 0 0 10px;
}
#Form_ContactForm label {
	font-size: 120%;
}
#Form_ContactForm input[type="text"],
#Form_ContactForm input[type="email"],
#Form_ContactForm textarea {
	width: 250px;
	padding: 10px 20px;
	border: solid gray 1px;
	font-size: 14px;
	font-family: Arial, helvetica;
}
#Form_ContactForm input[type="text"]:focus,
#Form_ContactForm input[type="email"]:focus,
#Form_ContactForm textarea:focus {
	background: #fffd9e;
	border: 1px solid #900;
	outline: none;
}

#Form_ContactForm .required {
	color: red;
	font-weight: bold;
}
#Form_EnquiryForm {
	max-width: 600px;
	margin: auto;
}
#Form_EnquiryForm fieldset {
	border: none;
}
#Form_EnquiryForm div.field {
	overflow: hidden;
	padding: 2px;
}
#Form_EnquiryForm div.field.checkbox {
	padding-left: 190px;
}
#Form_EnquiryForm label.left {
	display: block;
	float: left;
	width: 180px;
	padding: 2px 10px 0 0;
	text-align: right;
}
#Form_EnquiryForm div.middleColumn {
	float: left;
}
#Form_EnquiryForm span.message.required {
	clear: both;
	display: block;
	padding-left: 190px;
	color: #c90000;
	font-size: 12px;
	font-weight: bold;
}
#Form_EnquiryForm input[type="password"],
#Form_EnquiryForm input[type="text"],
#Form_EnquiryForm input[type="email"] {
	width: 300px;
	color: #34294D;
	border: solid #008ad2 1px;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#Form_EnquiryForm div.field {
	padding: 2px 0;
}
#Form_EnquiryForm textarea {
	width: 300px;
	color: #34294D;
	border: solid #008ad2 1px;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#Form_EnquiryForm ul.optionset {
	margin: 0;
	padding: 0;
	list-style: none;
}

#Form_EnquiryForm label {
	text-align: right;
}
#Form_EnquiryForm div.required label {
	font-weight: bold;
}
#Form_EnquiryForm div.required label:after {
	content: "*";
	color: #c90000;
	padding-left: 3px;
}
#Form_EnquiryForm input.invalid,
#Form_EnquiryForm textarea.invalid,
#Form_EnquiryForm select.invalid {
	background: #e6b3b3;
	border: dashed #B63D3D 1px;
}
#Form_EnquiryForm div.EnquiryPageSuccess {
	background: #00aebc;
	padding: 20px;
	font-size: 130%;
}
div.EnquiryPageSuccess h1,
div.EnquiryPageSuccess h2,
div.EnquiryPageSuccess h3,
div.EnquiryPageSuccess h4 {
	margin: 0;
	padding: 5px 0;
}