#Form_EnquiryForm {
  max-width: 600px;
  margin: auto;
}
#Form_EnquiryForm fieldset {
  border: none;
}
#Form_EnquiryForm div.field {
  padding: 0 0 10px;
  overflow: hidden;
}
#Form_EnquiryForm label {
  text-align: right;
}
#Form_EnquiryForm label.left {
  font-size: 120%;
  display: block;
  float: left;
  width: 180px;
  padding: 2px 10px 0 0;
  text-align: right;
}
#Form_EnquiryForm input[type="text"],
#Form_EnquiryForm input[type="email"],
#Form_EnquiryForm textarea,
#Form_EnquiryForm select {
  width: 250px;
  padding: 5px 10px;
  border: solid #686868 1px;
  font-size: 14px;
  font-family: Arial, helvetica;
}
#Form_EnquiryForm input[type="text"]:focus,
#Form_EnquiryForm input[type="email"]:focus,
#Form_EnquiryForm textarea:focus,
#Form_EnquiryForm select:focus {
  background: #fffd9e;
  border: 1px solid #900;
  outline: none;
}
#Form_EnquiryForm div.field.checkboxset input {
  vertical-align: bottom;
}
#Form_EnquiryForm ul.optionset {
  margin: 0;
  padding: 0;
  text-align: left;
}
#Form_EnquiryForm ul.optionset li {
  list-style: none;
}
#Form_EnquiryForm ul.optionset li label {
  cursor: pointer;
}
#Form_EnquiryForm p.note {
  text-align: center;
}
#Form_EnquiryForm div.middleColumn {
  float: left;
}
#Form_EnquiryForm span.message.required {
  clear: both;
  display: block;
  padding-left: 190px;
  color: #c90000;
  font-size: 12px;
  font-weight: bold;
}
#Form_EnquiryForm div.required label.left {
  font-weight: bold;
}
#Form_EnquiryForm div.required label.left:after {
  content: "*";
  color: #c90000;
  padding-left: 3px;
}
#Form_EnquiryForm input.invalid,
#Form_EnquiryForm textarea.invalid,
#Form_EnquiryForm select.invalid {
  background: #fcefef;
  border: dashed #B63D3D 1px;
}
#Form_EnquiryForm div.EnquiryPageSuccess {
  background: #00aebc;
  padding: 20px;
  font-size: 130%;
}
#Form_EnquiryForm div.EnquiryPageSuccess h1,
#Form_EnquiryForm div.EnquiryPageSuccessh2,
#Form_EnquiryForm div.EnquiryPageSuccessh3,
#Form_EnquiryForm div.EnquiryPageSuccessh4 {
  margin: 0;
  padding: 5px 0;
}
#Form_EnquiryForm #CaptchaImage input[type="text"] {
  width: 60px;
}
#Form_EnquiryForm #CaptchaImage img {
  margin-right: 5px;
  vertical-align: top;
}
#Form_EnquiryForm #CaptchaImage label.right {
  clear: both;
  float: none;
}
#Form_EnquiryForm #CaptchaImage label.right p {
  clear: both;
  font-weight: normal;
  text-align: center;
  font-size: 10px;
  margin: 0;
  padding: 5px 0;
  color: #666;
}
#Form_EnquiryForm .Actions {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  #Form_EnquiryForm {
    text-align: center;
  }
  #Form_EnquiryForm label.left {
    font-size: 120%;
    display: block;
    float: none;
    clear: both;
    width: 100%;
    padding: 2px 10px 2px 0;
    text-align: center;
  }
  #Form_EnquiryForm div.middleColumn {
    float: none;
    width: 100%;
  }
}
